name: fetchSubs

# 触发条件
on:
  # push的时候触发
  push:
    branches: main
  workflow_dispatch:
  # 定时触发
  schedule:
   - cron: '0 */4 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install urllib3 requests PyYAML
    - name: 设置时区
      run: sudo timedatectl set-timezone 'Asia/Shanghai'
    - name: 执行任务
      run: |
        python ./chf.py
    - name: 提交更改
      run: |                 
         git config --local user.email "9032692@qq.com"
         git config --local user.name "herochengm"
         git add subs/*
         git commit -m "更新订阅链接"
    - name: 推送更改
      uses:  ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
